@model ProductDetailsViewModel

<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.FormFactor)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.FormFactor)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.CpuSocket)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.CpuSocket)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.Chipset)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.Chipset)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.MemoryType)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.MemoryType)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.MemoryChannel)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.MemoryChannel)
    </div>
</div>
<div class="row product-specification-row py-1 border-bottom">
    <div class="col-sm-6 text-right">
        @Html.DisplayNameFor(model => model.SataSupport)
    </div>
    <div class="col-sm-6 text-left">
        @Html.DisplayFor(model => model.SataSupport)
    </div>
</div>