@model OrderViewModel

<div class="card">
    <div class="row no-gutters">
        <div class="col-10">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayNameFor(model => model.OrderId):  @Html.DisplayFor(model => model.OrderId)</h5>
                <p class="card-text">@Html.DisplayNameFor(model => model.ApplicationUserEmail):  @Html.DisplayFor(model => model.ApplicationUserEmail)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.OrderDate):  @Html.DisplayFor(model => model.OrderDate)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.OrderStatus):  @Html.DisplayFor(model => model.OrderStatus)</p>
            </div>
        </div>
        <div class="col-2 d-flex flex-column justify-content-between align-items-center">
            <a class="btn btn-primary w-100" asp-action="Details" asp-route-id="@Model.OrderId">Details</a>
            <a class="btn btn-primary w-100" asp-action="Details" asp-route-id="@Model.OrderId">Edit</a>
            <a class="btn btn-primary w-100" asp-action="Details" asp-route-id="@Model.OrderId">Delete</a>
        </div>
    </div>
</div>