@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.ApplicationUserEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@order.OrderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@order.OrderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@order.OrderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

