<nav class="navbar navbar-dark p-0 d-none d-lg-flex" fixed-top-nav>
    <div class="container-fluid d-flex flex-column p-0">
        <div class="row w-100 bg-black px-2 py-3">
            <div class="col-3 col-xl-2 d-flex justify-content-start align-items-center">
                <form class="form-group w-100 m-0" asp-controller="Products" asp-action="SearchProducts" method="post">
                    <div class="input-group navbar-search-products-input-group pb-1">
                        <input class="form-control w-75 navbar-search-product-input shadow-none px-0 text-white" placeholder="Search" aria-label="Search" name="SearchString">
                        <div class="input-group-append w-25">
                            <button class="btn text-white w-100 bg-black" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6 col-xl-8 d-flex justify-content-center align-items-center">
                <a class="h1 text-white text-decoration-none" asp-controller="Home" asp-action="Index">ComputersStore</a>
            </div>
            <div class="col-3 col-xl-2 d-flex justify-content-end align-items-center">
                <partial name="~/Views/Shared/Partials/_DesktopNavbarLinksPartial.cshtml" />
            </div>
        </div>
        <div class="row d-flex justify-content-center w-100 bg-dark-grey px-2 py-3">
            <div class="w-50 d-flex justify-content-around align-items-center">
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.CPU">CPU</a>
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.GPU">GPU</a>
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.Motherboard">Motherboard</a>
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.RAM">RAM</a>
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.PSU">PSU</a>
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.HDD">HDD</a>
                <a class="navbar-desktop-product-category-link" asp-controller="Products" asp-action="List" asp-route-productCategoryId="@ProductCategoryDictionary.SSD">SSD</a>
            </div>
        </div>
    </div>
</nav>