@model ComputersStore.Models.ViewModels.Basic.ProductDetailsViewModel

<div>
    <h4>CPU Specification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCores)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfThreads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfThreads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClockSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClockSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TDP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TDP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Socket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Socket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Architecture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Architecture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturingProcess)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturingProcess)
        </dd>
    </dl>
</div>