@model ProductDetailsViewModel

<div class="row border-bottom">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.NumberOfCores)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.NumberOfCores)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.NumberOfThreads)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.NumberOfThreads)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.ClockSpeed)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.ClockSpeed)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.TDP)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.TDP)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Socket)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Socket)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Architecture)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Architecture)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.ManufacturingProcess)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.ManufacturingProcess)
    </div>
</div>
