@model ComputersStore.Models.ViewModels.Basic.ProductDetailsViewModel

<div>
    <h4>HDD Specification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RotationSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RotationSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CacheSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CacheSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Interface)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Interface)
        </dd>
    </dl>
</div>