@model ProductDetailsViewModel

<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Capacity)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Capacity)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.RotationSpeed)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.RotationSpeed)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.CacheSize)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.CacheSize)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Interface)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Interface)
    </div>
</div>