@model ComputersStore.Models.ViewModels.Basic.ProductDetailsViewModel

<div>
    <h4>Motherboard Specification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormFactor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormFactor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CpuSocket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CpuSocket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chipset)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chipset)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemoryType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemoryChannel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MemoryChannel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SataSupport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SataSupport)
        </dd>
    </dl>
</div>