@model ComputersStore.Models.ViewModels.Basic.ProductDetailsViewModel

<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Size)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Size)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Type)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.Speed)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.Speed)
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        @Html.DisplayNameFor(model => model.CasLatency)
    </div>
    <div class="col-sm-6">
        @Html.DisplayFor(model => model.CasLatency)
    </div>
</div>