@model ProductCreateFormViewModel

@{
    ViewData["Title"] = "Create product";
}

<h3>Create @Model.ProductCategoryName</h3>
<hr />
@switch (Model.ProductCategoryId)
{
    case ProductCategoryDictionary.CPU:
        <partial name="~/Views/Products/Partials/CentralProcessingUnit/_CentralProcessingUnitCreateFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.Motherboard:
        <partial name="~/Views/Products/Partials/Motherboard/_MotherboardCreateFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.RAM:
        <partial name="~/Views/Products/Partials/RandomAccessMemory/_RandomAccessMemoryCreateFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.GPU:
        <partial name="~/Views/Products/Partials/GraphicsProcessingUnit/_GraphicsProcessingUnitCreateFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.PSU:
        <partial name="~/Views/Products/Partials/PowerSupplyUnit/_PowerSupplyUnitCreateFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.HDD:
        <partial name="~/Views/Products/Partials/HardDiskDrive/_HardDiskDriveCreateFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.SSD:
        <partial name="~/Views/Products/Partials/SolidStateDrive/_SolidStateDriveCreateFormPartial.cshtml" for="@Model" />
        break;
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
