@model ProductEditFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit product</h3>
<hr />
@switch (Model.ProductCategoryId)
{
    case ProductCategoryDictionary.CPU:
        <partial name="~/Views/Products/Partials/CentralProcessingUnit/_CentralProcessingUnitEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.Motherboard:
        <partial name="~/Views/Products/Partials/Motherboard/_MotherboardEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.RAM:
        <partial name="~/Views/Products/Partials/RandomAccessMemory/_RandomAccessMemoryEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.GPU:
        <partial name="~/Views/Products/Partials/GraphicsProcessingUnit/_GraphicsProcessingUnitEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.PSU:
        <partial name="~/Views/Products/Partials/PowerSupplyUnit/_PowerSupplyUnitEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.HDD:
        <partial name="~/Views/Products/Partials/HardDiskDrive/_HardDiskDriveEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.SSD:
        <partial name="~/Views/Products/Partials/SolidStateDrive/_SolidStateDriveEditFormPartial.cshtml" for="@Model" />
        break;
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
