@model ProductEditFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
@switch (Model.ProductCategoryId)
{
    case ProductCategoryDictionary.CPU:
        <partial name="~/Views/Products/Partials/_CentralProcessingUnitEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.Motherboard:
        <partial name="~/Views/Products/Partials/_MotherboardEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.RAM:
        <partial name="~/Views/Products/Partials/_RandomAccessMemoryEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.GPU:
        <partial name="~/Views/Products/Partials/_GraphicsProcessingUnitEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.PSU:
        <partial name="~/Views/Products/Partials/_PowerSupplyUnitEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.HDD:
        <partial name="~/Views/Products/Partials/_HardDiskDriveEditFormPartial.cshtml" for="@Model" />
        break;
    case ProductCategoryDictionary.SSD:
        <partial name="~/Views/Products/Partials/_SolidStateDriveEditFormPartial.cshtml" for="@Model" />
        break;
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
