@model ProductDetailListViewModel
@{
    ViewData["Title"] = "List";
}

<div class="row">
    <div class="col-3">
        <form asp-controller="Products" asp-action="List" class="productsSortingForm">
            <input name="ProductCategoryId" value="@Model.ProductCategoryId" hidden/>
            <input name="PageNumber" value="@Model.PaginationViewModel.CurrentPage" hidden/>
            <select class="form-control" asp-for="@Model.SortOrder" onchange="submitProductsSortingForm()">
                <option value="">Default sorting</option>
                <option value="Price ASC">Price ascending</option>
                <option value="Price DSC">Price descending</option>
            </select>
        </form>
    </div>
    <div class="col-9 d-flex justify-content-end align-items-center">
        Number of products: @Model.PaginationViewModel.TotalItems
    </div>
</div>
<hr class="products-list-hotizontal-line" />
<div class="row">
    <div class="col">
        @foreach (var product in Model.Products)
        {
            @await Html.PartialAsync("_ProductHorizontalCardPartial", product);
        }

        <pagination-links pagination-view-model="@Model.PaginationViewModel" page-action="List" links-container-class="btn-group float-right m-1" page-classes-enabled="true"
                          page-class="btn" page-class-normal="btn-black" page-class-selected="btn-green" page-url-productCategoryId="@Model.ProductCategoryId">
        </pagination-links>
    </div>
</div>

