@model ProductsFilteredCollectionViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-12 d-flex justify-content-between align-content-center">
        <h3 class="mb-0">Prouducts' table</h3>
        <button class="btn btn-green" data-toggle="collapse" data-target="#newslettersTableFilters" aria-expanded="false" aria-controls="newslettersTableFilters">Filter</button>
    </div>
</div>
<div class="row mt-3 collapse" id="newslettersTableFilters">
    <div class="col-12">
        <form asp-controller="Products" asp-action="Table">
            <div class="form-row">
                <div class="form-group col-md-4 d-flex justify-content-start align-items-center mb-0">
                    <input class="form-control input-with-green-outline-on-focus" placeholder="Name" asp-for="ProductName"/>
                </div>
                <div class="form-group col-md-4 d-flex justify-content-start align-items-center mb-0">
                    <select class="form-control input-with-green-outline-on-focus" asp-for="ProductCategoryId" asp-items="ViewBag.ProductsCategories">
                        <option value="null">All categories</option>
                    </select>
                </div>
                <div class="form-group col-md-4 d-flex justify-content-start align-items-center mb-0">
                    <select class="form-control input-with-green-outline-on-focus" asp-for="IsRecommended">
                        <option value="null">All products</option>
                        <option value="true">Recommended</option>
                        <option value="false">Not recommended</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-md-12 d-flex justify-content-end align-items-center mb-0">
                    <input type="submit" value="Search" class="btn btn-green mr-2 input-with-green-outline-on-focus" />
                    <input type="reset" onclick="resetProductsFilteringForm(event)" value="Clear" class="btn btn-green input-with-green-outline-on-focus">
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="my-2" />
<div class="row">
    <div class="col-12">
        @if (Model.Products.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Is recommended</th>
                            <th scope="col" class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.Products)
                        {
                            <tr>
                                <td scope="col">@product.Name</td>
                                <td scope="col">@product.Price</td>
                                <td scope="col">@product.IsRecommended</td>
                                <td scope="col" class="text-right">
                                    <a class="btn btn-sm btn-green mr-2 input-with-green-outline-on-focus" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">Details</a>
                                    <a class="btn btn-sm btn-green mr-2 input-with-green-outline-on-focus" asp-controller="Products" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a>
                                    <btn class="btn btn-sm btn-green modalButton input-with-green-outline-on-focus"
                                         type="button"
                                         data-toggle="ajax-modal"
                                         data-target="#deleteProduct"
                                         data-url="@Url.Action("Delete", "Products", new { id = product.ProductId })">
                                        Delete
                                    </btn>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-center">No products found</p>
        }

    </div>
</div>
<div class="row">
    <div class="col-12">
        @if (Model.PaginationViewModel.TotalPages > 1)
        {
            <pagination-links pagination-view-model="@Model.PaginationViewModel" page-action="Table" links-container-class="btn-group float-right m-1" page-classes-enabled="true"
                              page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-green-without-hover" page-url-productName="@Model.ProductName"
                              page-url-productCategoryId="@Model.ProductCategoryId" page-url-isRecommended="@Model.IsRecommended">
            </pagination-links>
        }
    </div>
</div>

